.tabUnselected
{
    border: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 20px 7px 0px 0px;
    width: 200px;
    background-color: #DCDCDC;
    border-bottom: 0px;
    position: relative;    
    top: 5px;
    margin-right: -4px;
}

.tabSelected{
    border: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 20px 7px 0px 0px;
    width: 200px;
    background-color: white;
    border-bottom: 0px;
    position: relative;    
    top: 6px;
    margin-right: -4px;
}

.tabDiv
{
    background-color: white;
    border: 0px;
    margin: 0;
    padding: 0;
    outline: 0px solid #A4A4A4;
    height: 23px;
    border-bottom: 1px solid black;    
    position:relative;
    top:15px;
}